/* BASIC RESET & FONTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: #111827;
}

/* REUSABLE BUTTONS */
.btn-primary {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 6px;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #1d4ed8;
}

.btn-outline {
    background-color: transparent;
    color: #2563eb;
    border: 1px solid #2563eb;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
}

.btn-outline:hover {
    background-color: #eff6ff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    border-bottom: 1px solid #e5e7eb;
    background: #fff;
}

.logo img {
    height: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #4b5563;
    margin: 0 15px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #111827;
}

/* HERO SECTION */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-content h1 em {
    font-style: italic;
    font-weight: 400;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px auto;
    line-height: 1.6;
    color: #d1d5db;
}
